@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800);

body {
	text-align: center;
	background: url(images/IMG_2283.jpg);
	background-size: cover;
	color: #fff;
}

header {
	background-color: #FFED74;
	border: 1px black solid;
	color: #ff3300;
	padding: 20px;
	font-weight: 100;
	font-family: 'Raleway';
	font-size: 38px;
	text-transform: uppercase;
	letter-spacing: 5px;
	text-align: center;
}

main {
	background-color: #E89C6C;
	border: 1px black solid;
	font-weight: 400;
	font-family: 'Raleway';
	text-align: center;
}

h2{
	font-weight: 400;
	color: #00b2b3;
	letter-spacing: 1px;
	font-size: 22px;
	font-family: 'Raleway';
}

hr {
	width: 300px;
	height: 6px;
	background-color: white;
	border: 0 none;
	margin-top: 30px;
	margin-bottom: 30px;
}

h3 {
	color: #ff6600;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 2px;
	margin-bottom: -10px;
}

p {
	line-height: 1.5em;
	font-family: "Playfair Display";
}

#fido {
	font-style: italic;
}

a{
	color:white;
	text-decoration: none;
}

nav {
	background-color: #E8C66A;
	border: 1px black solid;
	padding: 20px;
}

ul {
	display: inline;
}

footer {
	font-family: "Raleway";
	font-weight: 700;
	font-size: 16px;
	text-align: center;
}

#two_column {
    background-color: #FFB7CF;
    border: 1px black solid;
    padding: 20px;
}

#left {
    background-color: violet;
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 46%;
}

#right {
    background-color: pink;
    border: 1px black solid;
    padding: 20px;
    float: right;
    width: 46%;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}


