@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800);


header {
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20 px;
	font-weight: 100;
	font-family: 'Raleway';
	font-size: 38px;
	text-transform: uppercase;
	letter-spacing: 5px;
	text-align: center;
}

article {
	background-color: #E89C6C;
	border: 1px black solid;
	padding: 20 px;
	font-weight: 400;
	font-family: 'Raleway';
	text-align: center;
}

h2{
	font-weight: 400;
	font-size: 22px;
	font-family: 'Raleway';
}

h3 {
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 2px;
}

body {
	background: url(images/IMG_2283.jpg);
	background-size: cover;
}

p{
	line-height: 1.5em;
}

#fido {
	font-style: italic;
}

nav {
	background-color: #E8C66A;
	border: 1px black solid;
	padding: 20 px;
}

ul {
	display: inline;
}

footer {
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20 px;
	font-family: "Raleway";
	font-weight: 700;
	text-align: center;
}

body > #container {height: auto; min-height: 50%}






